* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --main-color: #ff702a;
    --text-color: #fff;
    --bg-color: #1e1c2a;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9rem
}

*::selection { /* quando "selecionar" algum elemento */
    background-color: var(--main-color);
    color: var(--text-color);
}

.container {
    padding: 4rem 20%;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.9rem;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 0.8rem;
}

.btn:hover {
    transform: scale(1.2) translateY(12px);
    transition: all .5s;
}

.specific-color {
    color: var(--main-color);
    
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

section {
    margin-bottom: 8rem;
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}




.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 11rem;
    background-color: var(--bg-color);

}

.logo {
    color: var(--main-color);
    font-weight: bold;
    font-size: 2.4rem;
}

.header-navbar {
    display: flex;
    gap: 2rem;
}

.header-navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
}

.header-navbar a:hover {
    color: var(--main-color);
    transition: all .5s;
}



.home {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.home-title{
    font-size: var(--big-font);
    color: var(--main-color);
}

.home-subtitle {
    font-size: var(--h2-font);
    margin: 2.2rem 0;
}

.home-img img {
    max-width: 100%;
}



.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.about-text span{
    color: var(--main-color);
}

.about-title {
    font-size: var(--h2-font);
}

.about-subtitle {
    margin: 1.2rem 0 2rem;
}

.about-img {
    max-width: 100%;
    margin: 0 auto;
}



.heading {
    text-align: center;
}

.heading span {
    color: var(--main-color);
}

.heading h2 {
    font-size: var(--h2-font);
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menu-box {
    position: relative;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    background-color: #feeee7;
    padding: 2rem;
    border-radius: 0.5rem;
    color: var(--bg-color);
    width: 45%;
    
}

.menu-box-img {
    width: 250px;
    height: 250px;
}

.menu-box-img img {
    width: 100%;
    height: 100%;
}

.menu-box-title {
    font-size: 1.4rem;
}

.menu-box-subtitle {
    font-size: 1rem;
    font-weight: 500;
}

.menu-box span {
    font-size: 0.95rem;
    color: var(--main-color);
}

.menu-box .fa-cart-shopping {
    background-color: var(--main-color);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.6rem;
    padding: 0.6rem 0.8rem;
    border-radius: 0 0.5rem 0 0.5rem;
    color: rgba(255, 255, 255, 0.9);
}

.menu-box .fa-cart-shopping:hover {
    color: var(--bg-color);
    transition: all .5s;
}



.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2.5rem;
    margin-top: 5rem;
}

.service-box img {
    width: 120px;
}

.service-box-title {
    margin: 0.6rem 0 0.9rem;
    color: var(--main-color);
    font-size: 1.25rem;
}

.service-box-text {
    line-height: 1.8;
}



.our-store {
    padding: 1.5rem 0;
    gap: 5rem;
}

.our-store-img {
    max-width: 100%;
    margin: 0 auto;
}

.our-store-img img {
    width: 500px;
}

.our-store-span-client {
    font-style: italic;
}



.cta {
    background-image: linear-gradient(to right, #f1f1f1, #e4dcd9c4);
    text-align: center;
    padding: 5rem 0;
    
    margin: 0 auto 7rem;
    border-radius: 1rem;
    transition: all .5s;
}

.cta:hover {
    background-color: #feeee7;
}

.cta-title {
    font-size: 2rem;
    color: var(--bg-color);
    margin-bottom: 2rem;
}


.localization {
    text-align: center;
}

.localization-title {
    font-size: var(--h2-font);
    margin: 0 0 2rem;
}

.localization-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}



.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.col {
    width: 22%;
}

.col h4 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.col h4::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--main-color);
    width: 17%;
}

.navigation-footer li {
    margin-bottom: 1rem;
}

.navigation-footer li a {
    color: #9897a9;
    font-size: 1.1rem;
    display: block;
    transition: all .5s;
}

.navigation-footer li a:hover {
    color: var(--text-color);
    transform: translateX(-15px);
}

.col .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.col .social a {
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 50%;
    transition: all .5s;
}

.col .social a:hover {
    transform: scale(1.2);
    color: var(--bg-color);
    background-color: var(--text-color);
}

